@import '../../styles/style.scss';

.form-wrapper{
  margin-top:5.93vh;
  width: 48.68%;
  background-color: $_FFFFFFF;
  border-radius: 8px;
  box-shadow: 0px 3px 12px #1E36480A;
  @include screenSize('xlarge') {
    width: 100%;
    max-width: 50vw;
  }
  @include screenSize('large') {
    max-width: 60vw;
  }
  @include screenSize('medium') {
    max-width: 70vw;
  }
  @include screenSize('small') {
    margin:2.4rem 1rem 1rem 1rem;
    min-width: 90vw;
  }
  .form-header{
    width: 68.36%;
    margin: 0 auto;
    text-align: center;
    color: $_525252;
    @include screenSize('medium') {
      min-width: 90%;
      
    margin:3rem 2rem;
      }
    h1{
      font-size: 3.2rem;
      font-weight: bold;
      margin-top: 7.47vh;
      @include screenSize('medium') {
      margin-top: 3.33vh;
      }
    }
    .form-header-desc{
      font-size: 1.5rem;
      margin-top: 1vh;
    }
    form{
      margin-top:5.34vh;
      div{
        margin-bottom: 2vh;
        label{
          text-align: left;
          display: block;
          font-size: 1.5rem;
          position: relative;
          .down-arrow{
            position: absolute;
            left: 95%;
            top: 65%;
          }
          input[type="email"] {
            padding-left: 1rem;
            margin-top: 0.5rem;
            width: 100%;
            height: 4.5rem;
            border-radius: 8px;
            border: none;
            outline: none;
            background-color: $_F4F4F4;
            
          }
          input[type="password"]{
            margin-top: 0.5rem;
            padding-left: 1rem;
            width: 100%;
            height: 4.5rem;
            border-radius: 8px;
            border: none;
            outline: none;
            background-color: $_F4F4F4;
            &::placeholder{
              font-size: 3rem;
              letter-spacing: 0.2rem;
            }
          }
          input.error {
            outline: 1px solid $_F77474;
            background-color: $_FFF2F2;
          }
          input:active,
          input:focus {
          outline: 1px solid $_4B9CE2;
          background-color: $_F0F8FF;
          }
          
        }
        
      }
      .forgotten-password{
        margin-top: -1vh;
        text-align: right;
        a{
          
          text-decoration: none;
          font-size: 1rem;
          &:hover{
            opacity: 0.7;
          }
        }
      }
      .login-register-btn{
        width: 100%;
        height: 4.5rem;
        border-radius: 8px;
        border: none;
        background-color: $_4B9CE2;
        color: $_FFFFFFF;
        font-size: 1.8rem;
        margin-top: 2vh;
        margin-bottom: 2vh;
        @include screenSize('medium') {
          margin: 3rem auto;
          }
        &:hover{
          background-color: $_525252;
          color: #fff;
        }
      }
      .account-query{
        font-size: 1.5rem;
        margin-bottom: 7vh;
        @include screenSize('medium') {
          margin-bottom: 3rem;
          }
        span{
          color: $_4B9CE2;
        }
      }
      
    }
  }
}