@import "../../styles/style.scss";

.product-detail-container {
  min-height: calc(100vh) !important;
  width: 100%;
  background-color: $_F2F2F2;
  padding-top: 10rem;
  box-sizing: border-box;
  @include screenSize("medium") {
    min-height: calc(100vh);
    padding-top:7rem;
  }
  @include screenSize("small") {
    min-height: 130vh;
  }
  .product-detail-wrapper {
    max-width: 148rem;
    margin: 0 auto;
    
    overflow-y: auto;
    background-color: $_FFFFFFF;
    padding: 1.5rem 1.6rem;
    border-radius: 0.8rem;
    @include screenSize("xxlarge") {
      max-width: 120rem;
    }
    @include screenSize("small") {
      width: calc(100vw - 2rem);
      margin: 1rem auto;
      padding: 0.6rem;

    }
  }
}
.product-detail {
  width: 100%;
  @include display-flex(row, unset, unset);
  border-radius: 0.8rem;
  max-height: calc(100vh - 22rem);
  @include screenSize("medium") {
    @include display-flex(column, unset, unset);
  }
  @include screenSize("small") {
    min-height: 100vh;
  }
  &-img {
    width: 47%;
    overflow: hidden;
    border-radius: 0.8rem;
    @include screenSize("medium") {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  &-content {
    width: 53%;
    padding: 1rem 6rem;
    color: $_525252;
    font-size: 1.5rem;
    @include screenSize("medium") {
      @include display-flex(column, unset, unset);
      padding: 0.6rem;
      width: 100%;
      margin-bottom: 2rem;
    }
    @include screenSize("xlarge") {
      font-size: 1.5rem;
    }

    .content-title {
      font-size: 3.2rem;
      font-weight: 500;
      margin-bottom: 2.5rem;
      color: $_555555;
      @include screenSize("medium") {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        order: 1;
      }
    }
    .content-info{
      @include screenSize("medium") {
        order: 3;
      }
    }
    .content-info-brand,
    .content-info-color,
    .content-info-status {
      margin-bottom: 2rem;
      @include screenSize("medium") {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
    .strong {
      display: inline-block;
      font-weight: 700;
      width: 15rem;
    }

    .content-price {
      margin-top: 10px;
      font-size: 3.4rem;
      font-weight: bold;
      margin-bottom: 30px;
      @include screenSize('medium') {
        @include display-flex(row, baseline, space-between);
        font-size: 2rem;
        margin-bottom: 1rem;
        order: 2;
      }
      .content-given-offer {
        background-color: $_F2F2F2;
        color: $_B1B1B1;
        width: 21rem;
        border-radius: 0.8rem;
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: 500;
        padding: 0.8rem 1rem;

        .given-price {
          color: $_525252;
          font-weight: bolder;
          &::after {
            content: ' TL';
          }
        }
        @include screenSize('medium') {
          width: unset;
        }
      }
    }
    .offer-false {
      color: $_F77474 !important;
    }
    .offer-true {
      color: $_46AF32 !important;
    }

    .content-btn-area {
      margin: 2rem 0;
      @include display-flex(row, center , unset);

      @include screenSize("medium") {
        @include display-flex(row, center, center);
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        background-color: $_FFFFFFF;
        padding: 1rem 0;
        box-shadow: 0px -3px 8px rgba(30, 54, 72, 0.08);
      }
      .btn {
        min-height: 4.5rem;
        max-width: 23.5rem;
        width: 47%;
        font-size: 1.8rem;
        border: none;
        border-radius: 0.8rem;
      }
      .buy {
        background-color: $_4B9CE2;
        color: $_FFFFFFF;
        margin-right: 1rem;
        &:hover {
          background-color: $_F0F8FF;
          color: $_4B9CE2;
          outline: 1px solid $_4B9CE2;
        }
      }
      .offer {
        background-color: $_F0F8FF;
        color: $_4B9CE2;
        &:hover {
          background-color: $_4B9CE2;
          color: $_F0F8FF;
          outline: 1px solid $_4B9CE2;
        }
      }
      .sold{
        background-color: $_FFF0E2;
        color: $_FAAD60;
        width: 100%;
        cursor: default;
      }
    }
    .content-desc {
      margin-top: 1rem;  
      min-width: 60%;
      @include screenSize("medium") {
        min-width: 100%;
        margin-bottom: 1rem;
        order: 4;
        font-size: 1.5rem;
      }
      &-text {
        padding: 1rem 0;
        line-height: 2rem;
      }
    }
  }
}
