$_FBFBFB: #fbfbfb;
$_FFFFFFF: #FFFFFF;
$_525252: #525252;
$_F4F4F4: #F4F4F4;
$_4B9CE2: #4B9CE2;
$_F0F8FF: #F0F8FF;
$_F2F2F2 : #F2F2F2;
$_F77474: #F77474;
$_FFF2F2: #FFF2F2;
$_E0E0E0: #E0E0E0;
$_3E3E3E: #3E3E3E;
$_555555: #555555;
$_99A0A7: #99A0A7;
$_FFF0E2: #FFF0E2;
$_FAAD60: #FAAD60;
$_B1B1B1: #B1B1B1;
$_46AF32: #46AF32;