@import './reset.scss';
@import './mixin';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


:root{
    font-size: 10px;
}

*{
    font-family: 'Nunito', sans-serif !important; 
}
button {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 4px;
    border-radius: 0.1rem;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0.1rem;
    background-color: rgba(244, 244, 244, 1);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(153, 160, 167, 1);
    border-radius: 0.1rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(192, 192, 192);
  }

 

  .Toastify__toast-container--top-right {
    top: 9rem !important;
    @include screenSize('medium') {
      top: 7rem !important;
      left: 0;
      width: 96vw;
      margin: 0px 2vw;
    }
    @include screenSize('small') {
      top: 1rem !important;
      width: 96vw;
      margin: 0px 2vw;
    }
  }
  
  .error.toast{
    background-color: rgba(255, 229, 229, 1);
    color: rgba(247, 116, 116, 1) !important;
  }
  .Toastify__toast--error,
  .Toastify__toast--success {
    font-size: 1.6rem ;
    box-shadow: 0px 3px 12px rgba(30, 54, 72, 0.18) ;
    border-radius: 0.8rem ; 
  }
  .Toastify__toast--success {
    background-color: rgba(241, 255, 240, 1);
    color: rgba(70, 175, 50, 1) !important;
  }
 .Toastify__toast--error {
    background-color: rgba(255, 229, 229, 1);
    color: rgba(247, 116, 116, 1) !important;
  }
  .Toastify__close-button {
    display: none;
  }

  