@import "../../styles/style.scss";

.nav {
  z-index: 12;
  width: 100%;
  height: 8rem;
  font-family: "Nunito", sans-serif;
  position: fixed;
  background-color: $_FFFFFFF;
  @include display-flex(row, center, center);
  @include screenSize("medium") {
    height: 6rem;
  }
  .nav-wrapper {
    width: 148rem;
    @include display-flex(row, center, space-between);
    @include screenSize("xxlarge") {
      width: 120rem;
    }
    .logo {
      @include screenSize("xxlarge") {
        margin-left: 1rem;
      }
      
    }

    .nav-btn {
      height: 4rem;
      color: $_4B9CE2;
      background-color: $_F0F8FF;
      border-radius: 0.8rem;
      border: none;
      margin-left: 2rem;
      padding: 0 2rem;
      font-size: 1.6rem;

      @include display-flex(row, baseline, center);
      display: inline-block;

      @include screenSize("xxlarge"){
        margin-right: 1rem;
      }
      @include screenSize("medium") {
        padding:1rem 1.4rem;
      }
    }
  }
}
